<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="FTP" value="https://dfe-ssp.pkgs.visualstudio.com/c5095ddb-6433-4990-a3a5-1df8a78b1302/_packaging/FTP/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
